<!-- templates/index.html -->
{% extends "layout.html" %}

{% block content %}
    {% if logged_in %}
        <div class="row mb-4">
            <div class="col">
                <a href="{{ url_for('upload_file') }}" class="btn btn-primary">Upload New Image</a>
            </div>
        </div>

        {% if files %}
            <h2>Your Images</h2>
            <div class="row">
                {% for file in files %}
                    <div class="col-md-4">
                        <div class="card image-card">
                            <div class="card-body">
                                <h5 class="card-title">{{ file.name }}</h5>
                                <a href="{{ url_for('download_file', file_id=file.id) }}" class="btn btn-sm btn-success">Download</a>
                                <a href="{{ file.webViewLink }}" target="_blank" class="btn btn-sm btn-info">View in Drive</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                You don't have any images in your Google Drive yet. Upload one now!
            </div>
        {% endif %}
    {% else %}
        <div class="jumbotron">
            <h2>Welcome to Google Drive Image Manager</h2>
            <p class="lead">This application allows you to upload images to your Google Drive and download them later.</p>
            <hr class="my-4">
            <p>Please login with your Google account to get started.</p>
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login with Google</a>
        </div>
    {% endif %}
{% endblock %}

