<!-- templates/index.html -->
{% extends "layout.html" %}

{% block content %}
    {% if logged_in %}
        <div class="row mb-4">
            <div class="col">
                <a href="{{ url_for('upload_file') }}" class="btn btn-primary">Upload your data</a>
            </div>
        </div>


        {% if data_sources %}
            <h2>Your data sources</h2>
            <div class="row">
                {% for data_source in data_sources %}

                        <div class="card image-card">
                            <div class="card-body">
                                <h5 class="card-title">{{ data_source.source }}</h5>
                                <a href="{{ url_for('process_file', source=data_source.source, file_id=data_source.id) }}" class="btn btn-sm btn-primary">Process</a>
                                <a href="{{ url_for('download_file', file_id=data_source.id) }}" class="btn btn-sm btn-success">Download</a>
                                <a href="{{ data_source.webViewLink }}" target="_blank" class="btn btn-sm btn-info">View in Drive</a>
                                {% if data_source.plot_data %}
                                    <div class="object-fit">
                                        <img src="data:image/png;base64,{{ data_source.plot_data }}" alt="Generated Plot">
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-info">
                You don't have any files in your Google Drive yet. Upload one now!
            </div>
        {% endif %}
    {% else %}
        <div class="jumbotron">
            <h2>Welcome to Year in Data</h2>
            <p class="lead">This application allows you to visualise your year in data.</p>
            <hr class="my-4">
            <p>Please login with your Google account to get started.</p>
            <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg">Login with Google</a>
        </div>
    {% endif %}
{% endblock %}

